<!doctype html>
<html>
<head>
  <title>Keygen element test page</title>
</head>
<body>
  <form action="/submit" method="post" enctype="multipart/form-data">
    <p><keygen keytype="rsa" name="key"></keygen></p>
    <input type="submit" value="submit" />
  </form>
</body>
</html>